:root{
	--theme-color: #004D40;  /*#00BFA5#00695C#004D40*/
	--theme-bg: azure;
}

body{
	/*background-color: #1E585A;*/
	font-family: 'IBM Plex Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
}



a{
	color: #fff;
	text-decoration: none;
}

p{
}

.hld-color{
	color: var(--theme-color);
}

.bg-nav{
	/*background-color: #004D40;*/
	background-color: #f8f9fa;
	box-shadow: 0px -1px 5px #555;
}

.bg-main{}

.bg-alt{
	background-color: var(--theme-bg);
}

.navbar-transparent{
	background-color: transparent ;
}
.nav-item-padding{
	padding: 0px 10px 0px 10px;
}
.title{
	color: var(--theme-color);
	padding: 30px;
	font-weight: bold;
	text-shadow: 0px 1px 1px black;
}

.hl-div{
	background-image: url('../images/1.jpg');
	background-repeat: none;
	background-position: center;
	background-size: cover;
}

.shadow-light{
	box-shadow: 0px 0px 10px #555;
}

.shadow-dark{
	box-shadow: 0px -1px 5px #555;
}

.card-shadow{
	/*box-shadow: 0px 0px 0px 0px black;*/
	transition: all 0.2s;
	min-height: 100%;
}

.card-shadow:hover{
	box-shadow: 0px 0px 0px 1px #2125297d;	
}

.card-title{
	background-color: var(--theme-color);
	color: var(--theme-bg);
	padding: 10px;
	/*margin-top: -20%;*/
}

.card-btn{
	color: var(--theme-color);
	font-size: 3vh;
	/*transition: all .5s;*/
}

.card-btn:hover{
	text-decoration: none;
	font-weight: bold;
}

/*.figure{
	display: inline-block;
}

.figure > img{
	min-height: 250px;
	max-height: 250px;
	max-width: 100%;
	min-width: 100%;
}*/

.figure-slider{
	overflow: hidden !important;
}

.div-rounded{
	border-radius: 5px;
	max-height: 34vh;
	min-height: 34vh;
}

.fb-icon{
	height: 50px;
    width: 50px;
    background-color: #3F51B5;
    border-radius: 50%;
    margin: auto;
    padding: 12px;
    font-size: 25px;
    box-shadow: 0px 0px 10px 1px #6c757d;
    transition: all 1s;
}
.fb-icon:hover{
	background-color: white;
	box-shadow: 0px 0px 10px 5px #6c757d;
}
.content-div{
	padding: 50px 10px 50px 10px;
	/*background-color: lightgreen;*/
}

.btn-reg{
	padding: 10px 25px 10px 25px;
	margin: 10px;
	background-color: transparent;
	border: 1px solid var(--theme-color);
	color: var(--theme-color);
	border-radius: 50px;
	transition: all 0.3s;
}

.btn-reg:hover{
	background-color: var(--theme-color);
	color: white;
}

.count{
}

.count-header{
	font-size: 10vh;
	color: var(--theme-color);
}

.count > i{
	font-size: 5vh;
	color: var(--theme-color);
}

#myVideo{
	/*position: relative;*/
	right: 0;
	bottom: 0;
	width: 100%;
	/*height: 90vh;*/
}

.content{
	/*position: absolute;*/
	bottom: 0;
	background: gray;
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
}

.contact-icon{
	/*font-size: 100px;*/
	font-weight: bold;
}

.step-lg{
	min-height: 100px;
	border: 1px solid var(--theme-color);
	border-top: none;
	border-right: none;
}

.step-one-sm{
	min-height: 100px;
	border: 1px solid var(--theme-color);
	/*border-right: none;	*/
	border-radius: 50px;
}

.step-two-sm{
	min-height: 100px;
	border: 1px solid var(--theme-color);
	border-top: none;	
	border-radius: 50px;
}

.step-three-sm{
	min-height: 100px;
	border: 1px solid var(--theme-color);
	border-top: none;	
	border-radius: 50px;
}

.logo-div{
	min-height: 100px;
}

.vertical{
	display: flex;
    flex-direction: column;
    justify-content: center;
}