body{
	/*background-color: #1E585A;*/
	font-family: 'IBM Plex Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	/*padding: 10px;*/
	color: #1B5E20;
}

h1,h2,h3{
	font-weight: bold;
}

a{
	color: #fff;
	text-decoration: none;
}

p{
	/*padding: 10px;*/
}

.bg-gray{
	background-color: azure;
}

.hl-div{
	/*background-image: url('../resources/images/1.1.jpg');*/
	background-repeat: none;
	background-position: center;
	background-size: cover;

}

.shadow-light{
	box-shadow: 0px 0px 5px 0px;
}

.shadow-dark{
	box-shadow: 0px 0px 5px 0px;
}

.figure{
	display: inline-block;
}

.figure > img{
	min-height: 250px;
	max-height: 250px;
	max-width: 100%;
	min-width: 100%;
}

.fb-icon{
	height: 50px;
    width: 50px;
    background-color: #3F51B5;
    border-radius: 50%;
    margin: auto;
    padding: 12px;
    font-size: 25px;
    box-shadow: 0px 0px 10px 1px #6c757d;
    transition: all 1s;
}
.fb-icon:hover{
	background-color: white;
	box-shadow: 0px 0px 10px 5px #6c757d;
}
.content-div{
	padding: 50px 20px 50px 20px;
	/*background-color: lightgreen;*/
}

.btn-member{
	padding: 10px 25px 10px 25px;
	margin: 10px;
	background-color: white;
	border: 1px solid #1B5E20;
	color: #1B5E20;
	border-radius: 50px;
	transition: all 0.5s;
}

.btn-member:hover{
	background-color: #1B5E20;
	color: white;
}

.count{
}

.count-header{
	font-size: 10vh;
}

.count > i{
	font-size: 5vh;
	color: #1B5E20;
}

.count-caption{

}

#myVideo{
	/*position: relative;*/
	right: 0;
	bottom: 0;
	width: 100%;
	/*height: 90vh;*/
}

.content{
	/*position: absolute;*/
	bottom: 0;
	background: gray;
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
}
