/*DEVELOPED BY © SAYEED HASAN (sayeedhasan169@gmail.com)*/

:root{
	--theme-color: #004D40;
	--theme-color-2: #00695C;
	--theme-color-3: #00BFA5;
	--theme-bg: azure;
}

body{
	font-family: 'IBM Plex Sans', sans-serif;
}

a{
	color: #fff;
	text-decoration: none;
}
a:hover{
	color: white;
	text-decoration: none;
}

.a-color:hover{
	color:var(--theme-color);
}

.hld-color{
	color: var(--theme-color);
}

.bg-nav{
	background-color: #f8f9fa;
	box-shadow: 0px -1px 5px #555;
}

.bg-alt{
	background-color: var(--theme-bg);
}

.navbar-transparent{
	background-color: transparent ;
}

.nav-item-padding{
	padding: 0px 20px 0px 20px;
}

.title{
	color: var(--theme-color);
	padding: 30px;
	font-weight: bold;
	text-shadow: 0px 1px 1px black;
}

.hl-div{
	background-image: url('../images/1.jpg');
	background-repeat: none;
	background-position: center;
	background-size: cover;
}

.shadow-light{
	box-shadow: 0px 0px 5px #555;
}

.shadow-dark{
	box-shadow: 0px -1px 5px #555;
}

.card-shadow{
	transition: all 0.2s;
	min-height: 100%;
}

.card-shadow:hover{
	box-shadow: 0px 0px 0px 1px #2125297d;	
}

.card-title{
	background-color: var(--theme-color);
	color: var(--theme-bg);
	padding: 10px;
}

.card-btn{
	color: var(--theme-color);
	font-size: 3vh;
}

.card-btn:hover{
	text-decoration: none;
	font-weight: bold;
}

.carousel-height{
	max-height: 400px;
	min-height: 400px;
}

.figure-slider{
	overflow: hidden !important;
}

.div-rounded{
	border-radius: 5px;
	max-height: 34vh;
	min-height: 34vh;
}

.content-div{
	padding: 50px 10px 50px 10px;
}

.contact-logo{
	color: white;
	font-weight: bold;
	padding: 10px;
	border-radius: 50px;
}

.btn-reg{
	padding: 10px 25px 10px 25px;
	margin: 10px;
	background-color: transparent;
	border: 1px solid var(--theme-color);
	color: var(--theme-color);
	border-radius: 50px;
	transition: all 0.3s;
}

.btn-reg:hover{
	background-color: var(--theme-color);
	color: white;
}

.count{
}

.count-header{
	font-size: 10vh;
	color: var(--theme-color);
}

.count > i{
	font-size: 5vh;
	color: var(--theme-color);
}

.video{
	border: 5px solid var(--theme-color);
	border-radius: 5px;
}

.step-lg{
	min-height: 100px;
	border: 1px solid var(--theme-color);
	border-top: none;
	border-right: none;
}

.step-one-sm{
	min-height: 100px;
	border: 1px solid var(--theme-color);
	border-radius: 50px;
}

.step-two-sm, .step-three-sm, .step-four-sm{
	min-height: 100px;
	border: 1px solid var(--theme-color);
	border-top: none;	
	border-radius: 50px;
}

.step{
	height: 170px;
	width: 170px;
	background-color: #00695C;
	color: white;
	border-radius: 100%;
}

.logo-div{
	min-height: 100px;
}

.vertical{
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.horizental{
	margin: 0 auto;
}

.fb-btn{
	color: white;
	height: 60px;
	width: 60px;
	font-size: 30px;
	border-radius: 50%;
	background-color: #3B5998;
	transition: all .5s;
}

.fb-btn:hover{
	border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .h-100{
    	height: auto !important;
    }

    .carousel-height{
    	max-height: 200px;
    	min-height: 200px;
    }

    .pointer{
    	display: none;
    }
}